.login_holder {
  flex-direction: column;
  background-image: url(../../resources/images/login_img.png);
  background-repeat: no-repeat;
  background-position: center;
  .logo {
    margin-bottom: 50px;
  }
  form {
    input {
      margin: 0 0 30px;
    }
    width: 35%;
    @include mq("tablet") {
      width: 80%;
    }
  }

  .login {
    position: absolute;
    top: 80px;
    left: 100px;
    font-size: 1.875rem;
    color: $black;
    padding: 0 0 5px 0;
    font-weight: normal;
    &::before {
      content: " ";
      width: 116px;
      height: 3px;
      background: $secondary_color;
      position: absolute;
      bottom: -3px;
      left: 3px;
      body.rtl & {
        right: 3px;
        left: auto;
      }
    }

    body.rtl & {
      right: 100px;
      left: auto;
    }
  }
}
.login_by_mobile {
  .ant-form-item {
    margin: 0;
  }
  form {
    .ant-row {
      width: 100%;
    }
  }
  .login_btn_holder {
      text-align: center;
    .login_btn {
      background-color: $primary_color;
      min-height: 44.7px;
      min-width: 57px;
      border: 1px solid #48447f;
      color: $white;
      body.rtl & {
        border-radius: 4px 0px 0px 4px;
        margin-right: -48px;
        margin-left: 0;
      }
    }
  }
}
.login_by_password {
  .Primary_fill {
    margin: 10px 0;
  }
  .forget_password {
    text-decoration: underline;
    color: $black;
    font-weight: bold;
    font-size: 0.9375rem;
    cursor: pointer;
  }
}

.sign_up {
  form {
    width: 60%;
    @include mq("tablet") {
      width: 90%;
    }
    .ant-form-item {
      width: 47.5%;
      margin: auto;
      margin-bottom: 30px !important;
      @include mq("phone-wide") {
        width: 100%;
      }
    }
  }
}

.holder_100 {
  .ant-form-item {
    width: 100% !important;
  }
}
.termsCondation {
  padding-left: 15px;
  body.rtl & {
    padding-left: 0px;
    padding-right: 15px;
  }
}
.verify_container {
  max-width: 350px;
  border-radius: 6px;
  border: solid 0.5px #9f9f9f;
  margin: auto;
}
.verification-input__character {
  font-size: 25px;
}

.ant-modal-close-x {
  display: none;
}

.reset_password {
  .has-error .ant-form-explain,
  .has-error .ant-form-split {
    position: relative !important;
    bottom: 0;
  }
}

.custom_counter {
  display: flex;
  align-items: center;
  justify-content: center;

  .contant_holder {
    flex-direction: initial !important;
    height: 10px !important;
  }

  .timer_holder {
    svg {
      .static_circle {
        display: none;
      }
      .dinamic_circle {
        stroke: transparent;
      }
    }
    #countdown-number {
      height: 59px;
      margin: 0 5px 0 0;
    }
  }
}
